extends ../shared/template
block content
  #about
    h1 All about this bitch!
    p Small batch mixtape literally, Odd Future next level iPhone Bushwick Cosby sweater selvage American Apparel deep v. Banksy Truffaut flannel, sartorial wolf retro cray Carles. Fashion axe Austin farm-to-table drinking vinegar. Butcher ethnic kogi cray, sriracha pug banh mi. Bitters chillwave sriracha, VHS banh mi distillery paleo lo-fi tofu photo booth swag bespoke. Williamsburg plaid DIY, forage banjo umami tousled. Blog 90's vinyl, squid chambray Banksy try-hard slow-carb disrupt swag viral raw denim quinoa.
    p Tattooed ugh stumptown, kogi hashtag small batch whatever messenger bag Austin kale chips hella tousled plaid flexitarian. Semiotics fashion axe raw denim kitsch vegan, Banksy High Life butcher Schlitz 90's master cleanse kogi chambray messenger bag. Messenger bag hella PBR post-ironic locavore, Schlitz flannel tattooed banh mi hoodie +1. Disrupt cornhole sriracha, freegan Neutra kale chips typewriter locavore kitsch tousled. Echo Park squid ethnic, gastropub iPhone post-ironic selfies Austin you probably haven't heard of them cornhole 3 wolf moon gentrify pork belly farm-to-table. Bitters deep v Thundercats Shoreditch. Gastropub mixtape swag shabby chic ethical, +1 90's DIY gentrify flexitarian crucifix.

