extends ../shared/template
block content
  #faq
    h1 Did you know this shit??!?
    p Q: Is this for real?
    p A: You betcha
    br
    p Q: Who is the target audience for this app?
    p A: This first rule of Fight Club is don't talk about Fight Club

